* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #333333; */
}

.container {
    display: flex;
    width: 60%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

/* Image section on the left */
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    margin-left: 30px;
}

form input {
    margin-left: 30px;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}


.login-button {
    width: 80%;
    height: 40px;
    margin-left: 30px;
    border: 2px solid #038C29;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.login-button {
    background: #038C29;
    color: white;
}

.login-button:hover {
    color: #038C29;
    font-weight: bolder;
}

.login-button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.login-button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 1s;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section {
        display: none;
    }
}